@use 'base/variables' as v;
@use 'base/mixins' as m;

.ubicacion{
    padding: 2rem 0;

    @include m.desktop{ 
        padding: v.$separacion 0;
    }
    .ubicacion-grid{

        @include m.tablet{ 
            @include m.grid(2, 2rem);

        }

        @include m.desktop{ 
            @include m.grid(4, 1.5rem);
        }
    
    }
}

.ubicacion-box{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    border: 2px solid v.$grisClaro;
    box-shadow:  10px 11px 18px -14px rgba(0,0,0,0.44);
    margin-bottom: 2rem;

    &:last-of-type{
        margin-bottom: 0;
    }
    @include m.tablet{ 
        margin-bottom: 0;
        width: 100%;
    }

    img{
        margin: 0 auto;
        height: 10rem;
        margin-bottom: 1rem;
    }
    h3{
        margin:1rem 0;
        font-size: 2rem;
        color: v.$negro;
    }

    a, p{
        line-height: 2;
        font-size: 2rem;
        color: v.$grisOscuro;
        display: block;
        margin: 0;
    }
}
