@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    padding: v.$separacion 0 0 0;
    background-color: v.$negro;

    .footer-grid{
        
        @include m.tablet{ 
            @include m.grid(5, 2rem);
            
        }

        .footer-img{
           
            img{
                display: block;
                margin: 0 auto;
                width: 25rem;
            }
        }
    }

    .copyright{
        background-color: v.$primario;
        font-size: 2rem;
        padding: 1.5rem;
        color: v.$blanco;
        font-weight: bold;
        text-align: center;
    }

}

.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    @include m.tablet{ 
        margin-bottom: 0;
        display: flex;
        justify-content:flex-start;
        align-items:flex-start;
    }
    
    h3{
        color: v.$blanco;
        text-transform: uppercase;
        font-size: 2rem;
        border-bottom: 2px solid v.$primario;
    }


    a{
        color: v.$blanco;
        font-size: 1.8rem;
        padding-bottom: .8rem;
        transition: all 300ms;

        &:hover{
            color: v.$primario;
        }
    }

    .redes{

        i{
            font-size: 3rem;
            color: v.$blanco;
            padding-left: 1.5rem;
            transition-property: transform;
            transition-duration: 300ms;
            

            &:hover{
                transform: rotate(-10deg);
                color: v.$primario;
            }

        }
    }
}