@use 'base/variables' as v;
@use 'base/mixins' as m;

.descargar{
    padding: v.$separacion 0;

    .descargar-grid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 4rem 0;
        
        @include m.tablet{ 
            @include m.grid(2, v.$separacion);
            margin: 0 auto;
        }
    }

    .imagen{
        width: 50%;
        margin: 5rem auto 0 auto;
        transition-property: transform;
        transition-duration: 300ms;
        
        @include m.tablet{ 
            margin-top: 0;
            width: 75%;
        }
        &:hover{
            transform: rotate(3deg) scale(1.2);

        }
    }
}